<h1>Bonjour ! Vous venez de vous inscrire sur l'Atelier de Marais.</h1>

<p>
    Veuillez confirmer votre email en cliquant sur le lien suivant : <br><br>
    <a href="{{ signedUrl|raw }}">Confirmer mon Email</a>. <br>
    Ce link expirera dans {{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.
</p>

<p>
    A bientôt sur l'Atelier !
</p>
