{% extends 'base.html.twig' %}

{% block title %}Réinitialiser votre mot de passe{% endblock %}

{% block body %}

    {% for flash_error in app.flashes('reset_password_error') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}

    <h1 class="text-center mt-4">Réinitialiser le mot de passe</h1>

    <section class="section">

        {{ form_start(requestForm, { 'attr': {'class': 'col-sm-5 col-11 box-shadow'} }) }}

            {{ form_row(requestForm.email, {'row_attr': {'class': 'form-purple mb-4'} }) }}

            <div>
                <small>
                    Entrez votre adresse mail et nous vous enverrons un lien pour réinitialiser votre mot de passe.
                </small>
            </div>

            <button class="btn-modalAdd mt-2">Envoyer un email de réinitialisation</button>
        {{ form_end(requestForm) }}
    </section>
{% endblock %}
