{% extends 'base.html.twig' %}

{% block title %}Réinitialiser votre mot de passe{% endblock %}

{% block body %}
    <h1>Réinitialiser votre mot de passe</h1>

    {{ form_start(resetForm, { 'attr': {'class': 'col-sm-5 col-11 box-shadow'} }) }}

        {{ form_row(resetForm.plainPassword, {'row_attr': {'class': 'form-purple mb-4'} }) }}
        {{ form_row(resetForm._token, {'row_attr': {'class': 'form-purple mb-4'} }) }}

        <button class="btn-modalAdd">Réinitialiser</button>
    {{ form_end(resetForm, {render_rest: false}) }}
{% endblock %}
