{% extends 'base.html.twig' %}

{% block title %}Politique de confidentialité{% endblock %}

{% block body %}
<section class="section">
    <div class="col-sm-7">
        <h1 class="text-center mb-4">Politique de confidentialité</h1>

        <div class="box-shadow m-2">
        <strong> Définitions </strong> <br>
        L'Éditeur : La personne, physique ou morale, qui édite les services de communication au public en ligne. <br>
        Le Site : L'ensemble des sites, pages Internet et services en ligne proposés par l'Éditeur. <br>
        L'Utilisateur : La personne utilisant le Site et les services.
        </div>

        <div class="box-shadow m-2">
            <strong> 1- Nature des données collectées </strong>
            <p class="m-0">Dans le cadre de l'utilisation des Sites, l'Éditeur est susceptible de collecter les catégories de données suivantes concernant ses Utilisateurs : <br>
            Données d'état-civil, d'identité, d'identification... <br>
            Données relatives à la vie professionnelle (CV, scolarité, formation professionnelle, distinctions...) <br>
            Données de connexion (adresses IP, journaux d'événements...) <br>
            </p>
        </div>

        <div class="box-shadow m-2">
            <strong> 2- Communication des données personnelles à des tiers </strong>
            <p class="m-0">Pas de communication à des tiers <br>
            Vos données ne font l'objet d'aucune communication à des tiers. Vous êtes toutefois informés qu'elles pourront être divulguées en application d'une loi, d'un règlement ou en vertu d'une décision d'une autorité réglementaire ou judiciaire compétente.
            </p>
        </div>

        <div class="box-shadow m-2">
            <strong> 3- Agrégation des données </strong>
            <p class="m-0">PNous pouvons publier, divulguer et utiliser les informations agrégées (informations relatives à tous nos Utilisateurs ou à des groupes ou catégories spécifiques d'Utilisateurs que nous combinons de manière à ce qu'un Utilisateur individuel ne puisse plus être identifié ou mentionné) et les informations non personnelles à des fins d'analyse du secteur et du marché, de profilage démographique, à des fins promotionnelles et publicitaires et à d'autres fins commerciales.
            </p>
        </div>

        <div class="box-shadow m-2">
            <strong> 4- Collecte des données d'identité </strong>
            <p class="m-0">Consultation libre <br>
            La consultation du Site ne nécessite pas d'inscription ni d'identification préalable. Elle peut s'effectuer sans que vous ne communiquiez de données nominatives vous concernant (nom, prénom, adresse, etc). Nous ne procédons à aucun enregistrement de données nominatives pour la simple consultation du Site.
            </p>
        </div>

        <div class="box-shadow m-2">
            <strong> 5- Collecte des données du terminal</strong>
            <p class="m-0">Certaines des données techniques de votre appareil sont collectées automatiquement par le Site. Ces informations incluent notamment votre adresse IP, fournisseur d'accès à Internet, configuration matérielle, configuration logicielle, type et langue du navigateur... La collecte de ces données est nécessaire à la fourniture des services.
            </p>
        </div>

        <div class="box-shadow m-2">
            <strong> 6- Cookies</strong>
            <p class="m-0">Conformément aux recommandations de la CNIL, la durée maximale de conservation des cookies est de 13 mois au maximum après leur premier dépôt dans le terminal de l'Utilisateur, tout comme la durée de la validité du consentement de l’Utilisateur à l’utilisation de ces cookies. La durée de vie des cookies n’est pas prolongée à chaque visite. Le consentement de l’Utilisateur devra donc être renouvelé à l'issue de ce délai. <br>
            Vous reconnaissez avoir été informé que l'Éditeur peut avoir recours à des cookies. Si vous ne souhaitez pas que des cookies soient utilisés sur votre terminal, la plupart des navigateurs vous permettent de désactiver les cookies en passant par les options de réglage.
            </p>
        </div>

        <div class="box-shadow m-2">
            <strong>7- Conservation des données techniques</strong>
            <p class="m-0">Les données techniques sont conservées pour la durée strictement nécessaire à la réalisation des finalités visées ci-avant.</p>
        </div>

        <div class="box-shadow m-2">
            <strong>8- Délai de conservation des données personnelles et d'anonymisation</strong>
            <p class="m-0">Conformément à l'article 6-5° de la loi n°78-17 du 6 janvier 1978 relative à l'informatique, aux fichiers et aux libertés, les données à caractère personnel faisant l'objet d'un traitement ne sont pas conservées au-delà du temps nécessaire à l'exécution des obligations définies lors de la conclusion du contrat ou de la durée prédéfinie de la relation contractuelle. <br>
            Nous conservons les données personnelles pour la durée strictement nécessaire à la réalisation des finalités décrites dans les présentes Politiques de confidentialité. Au-delà de cette durée, elles seront anonymisées et conservées à des fins exclusivement statistiques et ne donneront lieu à aucune exploitation, de quelque nature que ce soit. <br>
            Des moyens de purge de données sont mis en place afin d'en prévoir la suppression effective dès lors que la durée de conservation ou d'archivage nécessaire à l'accomplissement des finalités déterminées ou imposées est atteinte. Conformément à la loi n°78-17 du 6 janvier 1978 relative à l'informatique, aux fichiers et aux libertés, vous disposez par ailleurs d'un droit de suppression sur vos données que vous pouvez exercer à tout moment en prenant contact avec l'Éditeur.
            </p>
        </div>

        <div class="box-shadow m-2">
            <strong>9- Suppression du compte</strong>
            <p class="m-0">L'Utilisateur a la possibilité de supprimer son Compte à tout moment, par simple demande à l'Éditeur OU par le menu de suppression de Compte présent dans les paramètres du Compte le cas échéant.</p>
        </div>

        <div class="box-shadow m-2">
            <strong>10- Indications en cas de faille de sécurité décelée par l'Éditeur</strong>
            <p class="m-0">Nous nous engageons à mettre en oeuvre toutes les mesures techniques et organisationnelles appropriées afin de garantir un niveau de sécurité adapté au regard des risques d'accès accidentels, non autorisés ou illégaux, de divulgation, d'altération, de perte ou encore de destruction des données personnelles vous concernant. Dans l'éventualité où nous prendrions connaissance d'un accès illégal aux données personnelles vous concernant stockées sur nos serveurs ou ceux de nos prestataires, ou d'un accès non autorisé ayant pour conséquence la réalisation des risques identifiés ci-dessus, nous nous engageons à : <br>
            Vous notifier l'incident dans les plus brefs délais ; <br>
            Examiner les causes de l'incident et vous en informer ; <br>
            Prendre les mesures nécessaires dans la limite du raisonnable afin d'amoindrir les effets négatifs et préjudices pouvant résulter dudit incident.</p> <br>
            En aucun cas les engagements définis au point ci-dessus relatifs à la notification en cas de faille de sécurité ne peuvent être assimilés à une quelconque reconnaissance de faute ou de responsabilité quant à la survenance de l'incident en question.
        </div>

        <div class="box-shadow m-2">
            <strong>11- Modification de la politique de confidentialité</strong>
            <p class="m-0">En cas de modification de la présente Politique de Confidentialité, engagement de ne pas baisser le niveau de confidentialité de manière substantielle sans l'information préalable des personnes concernées. <br>
            Nous nous engageons à vous informer en cas de modification substantielle de la présente Politique de Confidentialité, et à ne pas baisser le niveau de confidentialité de vos données de manière substantielle sans vous en informer et obtenir votre consentement.</p>
        </div>
    </div>
</section>

{% endblock %}