{% extends 'base.html.twig' %}

{% block title %}Mentions Légales
{% endblock %}

{% block body %}
<section class="section">
	<div class="col-sm-8 my-5">
		<h1 class="text-center mb-4">Mentions Légales</h1>

		<div class="box-shadow p-4 m-1">
			<h3>EDITEUR</h3>
			<p>Le site web atelier-de-marais.borisdymak.fr est produit par :</p>
			<ul>
				<li>Roxanne Marais - Micro entreprise</li>
				<li>L'Atelier de Marais est un site e-commerce proposant l'achat d'accessoires artisanaux.</li>
				<li>SIRET : 000 000 000 00000</li>
				<li>
					<a href="mailto:contact-marais@borisdymak.fr" style="text-decoration: underline; color: purple;">
						contact-marais@borisdymak.fr
					</a>
				</li>
				<li>Le Site est hébergé par OVH dont l’adresse est la suivante : 2, rue Kellermann, 59100 Roubaix. France.</li>
			</ul>

			<p class="pt-4">Vous bénéficiez d'un droit d'accès et de rectification aux informations qui vous concernent, que vous pouvez exercer par courrier. Vous pouvez également vous opposer au traitement des données vous  concernant. <br>
			Pour plus d'informations sur tous vos droits, vous pouvez consulter notre Politique de Protection des Données Personnelles.</p>
		
			<p>Dernière mise à jour le samedi 13 juillet 2024.</p>
		</div>
	</div>
</section>
{% endblock %}
