{% extends 'base.html.twig' %}

{% block title %}Mentions Légales
{% endblock %}

{% block body %}
	<div class="container my-5">
		<h1>Mentions Légales et Données Personnelles</h1>

		<h3>
			<strong>EDITEUR</strong>
		</h3>
		<p>Le site web www.atelierdemarais.fr (ci-après dénommé le " Site ") est produit par</p>
		<ul>
			<li>Dénomination sociale : AMH</li>
			<li>Siège social : 100 Av. du Général Leclerc 93500 Pantin</li>
			<li>Forme juridique : Société à Responsabilité Limitée au capital social de 10.200.000,00 €</li>
			<li>Immatriculée au RCS de Bobigny sous le numéro 483 162 855</li>
			<li>N° de TVA intracommunautaire : FR 20 483 162 855</li>
		</ul>
		<p>CONTACT :
			<a href="mailto:relationclient@franouk.fr" style="text-decoration: underline; color: blue;">relationclient@franouk.fr</a>
		</p>

		<h3>
			<strong>DIRECTEUR DE PUBLICATION</strong>
		</h3>
		<p>Boris Dymak</p>

		<h3>
			<strong>HEBERGEUR</strong>
		</h3>
		<p>Le Site est hébergé par la société Shopify Inc., domiciliée au 150 rue Elgin, Suite 800, Ottawa, Ontario K2P 1L4, Canada - Téléphone : 1-613-241-2828</p>

		<h3>
			<strong>CREDITS</strong>
		</h3>
		<p>Réalisation du site web www.franouk.fr par l'agence Shopify : LobsTTer.</p>

		<p>FRANOUK s'efforce d'assurer au mieux de ses possibilités, l'exactitude et la mise à jour des informations diffusées sur ce Site, dont elle se réserve le droit de corriger, à tout moment et sans préavis, le contenu. Toutefois, FRANOUK ne peut garantir l'exactitude, la précision ou l'exhaustivité des informations mises à la disposition sur ce Site.</p>

		<p>En conséquence, FRANOUK décline toute responsabilité :</p>
		<ul>
			<li>pour toute interruption du Site ;</li>
			<li>pour survenance de bogues ;</li>
			<li>pour tous dommages résultant d'une intrusion frauduleuse d'un tiers ayant entraîné une modification des informations mises à la disposition sur le Site ;</li>
			<li>et plus généralement pour tous dommages, directs ou indirects, quelles qu'en soient les causes, origines, natures ou conséquences, provoqués à raison de l'accès de quiconque au Site ou de l'impossibilité d'y accéder, de même que l'utilisation du Site et/ou du crédit accordé à une quelconque information provenant directement ou indirectement de ce dernier.</li>
		</ul>

		<p>En particulier, FRANOUK n'assume aucune responsabilité pour les dommages qui pourraient être causés au matériel informatique de l'internaute suite à son accès au présent Site, ou suite à l’utilisation ou téléchargement d'un quelconque de ses éléments (données, textes, images, vidéos ou sons, etc).</p>
		<h3>
			<strong>LIENS HYPERTEXTE
			</strong>
		</h3>
		<p>Le Site peut inclure des liens vers d'autres sites Web ou d'autres sources de l'Internet. Dans la mesure où FRANOUK ne peut contrôler ces sites et ces sources externes, FRANOUK ne peut être tenu pour responsable de la mise à disposition de ces sites et sources externes, et ne peut supporter aucune responsabilité quant au contenu, publicités, produits, services ou tout autre matériel disponible sur ou à partir de ces sites ou sources externes.</p>

		<p>De plus, FRANOUK ne pourra être tenu responsable de tous dommages ou pertes avérés ou allégués consécutifs ou en relation avec l'accès, l'utilisation ou avec le fait d'avoir fait confiance au contenu, à des biens ou des services disponibles sur ces sites ou sources externes.</p>

		<p>Enfin, FRANOUK rappelle que toute création de lien hypertexte vers la page d'accueil ou toute autre page du Site est soumise à son accord exprès, préalable et écrit, révocable à tout moment.</p>

		<h3>
			<strong>PROPRIETE INTELLECTUELLE</strong>
		</h3>
		<p>Tous les éléments du Site, qu'ils soient visuels ou sonores, y compris sa structure et ses contenus, ainsi que les bases de données et la technologie (logiciels) le composant ou permettant son fonctionnement et/ou son utilisation, sont la propriété exclusive de FRANOUK et bénéficient de la protection du Code de la propriété intellectuelle.</p>

		<p>Toute reproduction totale ou partielle du site à des fins autres est expressément prohibée par les articles L. 342-1 et L. 342-2 du Code de la propriété intellectuelle. Est également interdite la communication au public de tout ou partie du contenu du site, sous quelque forme et à destination de quelque public que ce soit.</p>

		<p>En particulier, l'utilisation à des fins commerciales du contenu de ce site est expressément interdite.</p>

		<p>En conséquence, il est notamment interdit de copier, modifier ou créer une œuvre dérivée à partir du Site ou de l'un de ces éléments ainsi que de procéder à des opérations d'ingénierie inverse afin de retrouver et/ou copier les codes sources des logiciels (à l'exception des cas prévus par la loi) ; il est également interdit de vendre, attribuer, sous-licencier ou transférer de quelque manière que ce soit à des tiers tout droit afférent aux logiciels composant le Site ou permettant son fonctionnement et/ou son utilisation.</p>

		<p>De même, il est également interdit de modifier ces logiciels ou d'utiliser des versions modifiées des ceux-ci et notamment (sans que cette énumération soit limitative) en vue d'obtenir un accès non autorisé au service et d'accéder au Site par un autre moyen que par l'interface qui est fournie à l'internaute par FRANOUK à cet effet.</p>

		<h3>
			<strong>LOI APPLICABLE – JURIDICTION</strong>
		</h3>
		<p>Le présent Site et ses conditions d'accès et d'utilisation sont régis par le droit français.</p>
		<p>Tout différend relatif audit Site sera soumis à la compétence exclusive des juridictions du ressort du tribunal compétent nonobstant pluralité de défendeurs ou appel en garantie, même pour les procédures d'urgence ou les procédures conservatoires, en référé ou par requête.</p>

		<h3>
			<strong>PROTECTION DES DONNÉES À CARACTÈRE PERSONNEL</strong>
		</h3>
		<p>
			Toute donnée à caractère personnel que l’internaute sera amené à transmettre à FRANOUK pour l’utilisation de certains services du Site est soumise à la loi n° 78-17 Informatique et Libertés du 6 janvier 1978 dans sa version modifiée du 22 juin 2018, à la Loi n° 2018-493 du 20 juin 2018 relative à la protection des données personnelles et Règlement (UE) 2016/679 du 27 avril 2016 relatif à la protection des personnes physiques à l'égard du traitement des données à caractère personnel et à la libre circulation de ces données.
		</p>
		<p>
			L'ensemble des données communiquées par l’internaute sur le Site (nom, prénom, adresse de livraison, email et numéro de téléphone) sont nécessaires pour le traitement et la livraison des commandes et sont exclusivement réservées à FRANOUK SAS et à ses prestataires chargés de la livraison de la commande.
		</p>
		<p>
			Les informations recueillies font l’objet d’un traitement informatique dont le responsable de traitement est FRANOUK SAS. Les données sont utilisées pour la préparation et l’expédition de la commande passée par l’internaute. Dans l’hypothèse où l’internaute a donné son accord exprès, les données collectées sont également utilisées pour l’envoi de communications commerciales et pour la gestion de la relation client.
		</p>
		<p>
			L’internaute dispose d’un droit d’accès, de modification, de rectification, d’effacement, et de portabilité des données le concernant. Pour exercer ce droit, l’internaute en fait la demande par email à l’adresse
			<a href="mailto:dpo@franouk.fr" style="text-decoration: underline;">dpo@franouk.fr</a>
			ou par courrier en s’adressant à FRANOUK Siège, 100 Av. du Général Leclerc 93500 Pantin.
		</p>
		<p>
			L’internaute peut s’inscrire à la newsletter de FRANOUK, ou donner son accord pour l’envoi de SMS, et ainsi choisir d’être régulièrement informé des offres proposées par la marque. Dans ce cas, les données collectées sont également utilisées pour l’envoi de communications commerciales et pour la gestion de la relation client. Elles seront transmises aux prestataires chargés de l’envoi de ces communications commerciales et de la gestion de la base de clients FRANOUK ; elles pourront aussi être transmises aux autres entités du groupe FRANOUK et aux entreprises affiliées. Il a à tout moment, la possibilité de se désabonner en cliquant sur le lien prévu à cet effet sur chacune des newsletters et/ou chacun des SMS.
		</p>

		<h3>
			<strong>POLITIQUE RELATIVE AUX COOKIES</strong>
		</h3>
		<p>
			Lors de votre première connexion au site www.kookai.fr (ci-après le « Site »), vous êtes avertis par un bandeau en bas de votre écran que des informations relatives à votre navigation sont susceptibles d’être enregistrées dans des fichiers dénommés « cookies ».
		</p>
		<p>
			La présente politique vous permet de mieux comprendre les dispositions que nous mettons en œuvre en matière de navigation sur notre Site. Elle vous informe notamment sur l’ensemble des cookies présents sur notre Site, leur finalité, ainsi que la marche à suivre pour les paramétrer.
		</p>

		<h3>
			<strong>INFORMATIONS GÉNÉRALES SUR LES COOKIES PRÉSENTS SUR LE SITE</strong>
		</h3>
		<p>
			Lors de la navigation sur notre Site, des informations relatives à la navigation de votre terminal (ordinateur, tablette, mobile, etc.), peuvent être enregistrées au travers de fichiers appelés cookies. Ces cookies sont susceptibles d’être installés sur votre terminal, pendant la durée de validité du consentement qui n’excède pas 13 mois, sous réserve de votre paramétrage du logiciel de navigation utilisé lors de votre visite du Site. Ce paramétrage peut être modifié à tout moment.
		</p>
		<p>
			Les cookies que nous utilisons peuvent être regroupés en quatre catégories :
		</p>
		<ul>
			<li>
				<strong>Cookies à des fins de fonctionnement du Site :</strong>
				Ces cookies sont nécessaires pour assurer le fonctionnement optimal de notre Site. Ils nous permettent de vous offrir les principales fonctionnalités du Site (par exemple, l’accès à votre compte client, la sauvegarde de votre panier d’achat, etc.) ou encore de sécuriser notre Site contre les fraudes éventuelles.</li>
			<li>
				<strong>Cookies à des fins d’analyses statistiques :</strong>
				Ces cookies nous permettent de mesurer et analyser l’audience de notre Site (volume de fréquentation, pages vues, temps moyen par visite, etc.), et ce, afin d’améliorer la pertinence et la convivialité des services qui vous sont proposés sur le Site. En acceptant ces cookies, vous contribuez à l’amélioration de notre Site.</li>
			<li>
				<strong>Cookies à des fins de personnalisation de l’expérience FRANOUK :</strong>
				Ces cookies nous permettent de vous reconnaître lorsque vous retournez sur notre Site. Nous pouvons ainsi personnaliser notre contenu pour vous et répondre au mieux à vos attentes et préférences. En acceptant ces cookies, vous bénéficiez d’une expérience enrichie et personnalisée.</li>
			<li>
				<strong>Cookies publicitaires et réseaux sociaux :</strong>
				Ces cookies nous permettent de communiquer des informations à des sites tiers, y compris sur les réseaux sociaux, afin de vous proposer des messages publicitaires pertinents correspondant à vos intérêts et mesurer l’efficacité de nos campagnes.</li>
		</ul>

		<h3>
			<strong>CONFIGURATION DE VOS PRÉFÉRENCES</strong>
		</h3>
		<p>
			Lors de votre première connexion sur le Site, une bannière présentant brièvement des informations relatives au dépôt de cookies apparaît en bas de votre écran. Cette bannière vous avertit qu’en poursuivant votre navigation sur le Site (en chargeant une nouvelle page ou en cliquant sur divers éléments du Site par exemple), vous acceptez le dépôt de cookies sur votre terminal. Vous êtes également réputé avoir donné votre accord au dépôt de cookies en cliquant sur l’icône « X » à droite de la bannière figurant en bas de votre écran.
		</p>
		<p>
			La plupart des navigateurs Internet sont configurés par défaut de façon à ce que le dépôt de cookies soit autorisé. Votre navigateur vous offre l’opportunité de modifier ces paramètres standards de manière à ce que l’ensemble des cookies soit rejeté systématiquement ou bien à ce qu’une partie seulement des cookies soit acceptée ou refusée en fonction de leur émetteur.
		</p>
		<p>
			Nous attirons votre attention sur le fait que le refus du dépôt de cookies sur votre terminal est susceptible d’altérer votre expérience sur le Site, ainsi que votre accès à certains services ou fonctionnalités. Le cas échéant, FRANOUK décline toute responsabilité concernant les conséquences liées à la dégradation de vos conditions de navigation qui interviennent en raison de votre choix de refuser, supprimer ou bloquer les cookies nécessaires au fonctionnement du Site. Ces conséquences ne sauraient constituer un dommage et vous ne pourrez prétendre à aucune indemnité de ce fait.
		</p>
		<p>
			Votre navigateur vous permet également de supprimer les cookies existants sur votre terminal. Ces paramétrages n’ont pas d’incidence sur votre navigation mais vous font perdre tout le bénéfice apporté par le cookie.
		</p>
		<p>
			Si vous souhaitez configurer votre navigateur de manière à désactiver l'installation des cookies, vous pouvez suivre les instructions ci-dessous :
		</p>
		<ul>
			<li>Sous Google Chrome :
				<a href="https://support.google.com/chrome/answer/95647?hl=fr&hlrm=en" style="text-decoration: underline;" target="_blank">https://support.google.com/chrome/answer/95647?hl=fr&hlrm=en</a>
			</li>
			<li>Sous Microsoft Internet Explorer :
				<a href="https://support.microsoft.com/fr-fr/help/17442/windows-internet-explorer-delete-manage-cookies" style="text-decoration: underline;" target="_blank">https://support.microsoft.com/fr-fr/help/17442/windows-internet-explorer-delete-manage-cookies</a>
			</li>
			<li>Sous Mozilla Firefox :
				<a href="https://support.mozilla.org/fr/kb/autoriser-bloquer-cookies-preferences-sites?redirectlocale=fr&redirectslug=Activer+et+d%C3%A9sactiver+les+cookies" style="text-decoration: underline;" target="_blank">https://support.mozilla.org/fr/kb/autoriser-bloquer-cookies-preferences-sites?redirectlocale=fr&redirectslug=Activer+et+d%C3%A9sactiver+les+cookies</a>
			</li>
			<li>Sous Safari :
				<a href="https://support.apple.com/fr-fr/HT201265" style="text-decoration: underline;" target="_blank">https://support.apple.com/fr-fr/HT201265</a>
			</li>
		</ul>
		<p>
			Pour plus d’informations sur le paramétrage des cookies, vous pouvez consulter le site Internet de la CNIL :
			<a href="https://www.cnil.fr/fr/cookies-les-outils-pour-les-maitriser" style="text-decoration: underline;" target="_blank">https://www.cnil.fr/fr/cookies-les-outils-pour-les-maitriser</a>.
		</p>

	</div>
{% endblock %}
