@import "~bootstrap/scss/bootstrap";

body {
    background-color: rgba(247, 244, 240, 0.8);
}

a {
    text-decoration: none;
    color: black;
}

ul {
    list-style: none;
    padding: 0px;
}

h2 {
    text-align: center;
}

.d-flex {
    display: flex;
}

input[type="checkbox"] {
    accent-color: rgb(86, 36, 110);
}

.form-check-input:checked {
        background-color: rgb(86, 36, 110);
        border-color:rgb(86, 36, 110) ;
    }    

// HEADER
.delivery-banner {
    background-color: rgb(124, 95, 138);
    color: white;
    padding: 1rem;
    text-align: center;    
}

input[type="search"] {
    border-color: rgba(124, 95, 138, 0.6);
    border-radius: 0%;
    padding: 0.5rem 1rem;
} 

input[type="search"]::placeholder {
    color:rgb(124, 95, 138);
}

input[type="search"]:focus, 
input[type="text"]:focus, 
input[type="file"]:focus,
input[type="email"]:focus,
input[type="password"]:focus,
input[type="tel"]:focus,
input[type="textarea"]:focus,
select:focus {
    color: rgb(124, 95, 138);
    background-color: rgb(247, 244, 240);
    border-color: rgb(124, 95, 138);
    box-shadow: 0px 0px 10px rgba(124, 95, 138, 0.6) !important; 
}

input[type="search"]:hover {
    background-color: rgb(247, 244, 240);
}

nav {
    background-color: rgb(241, 238, 234); 
    cursor: pointer; 
}

nav li {
    display: flex;
    width: 100vw;
    justify-content: space-around;
    padding: 1rem;
    z-index: 1;
}

nav a {
    color: rgb(124, 95, 138);
}

.highlight {
    background-color: rgba(197, 220, 200, 0.4);
}

.selected {
    background-color: rgb(124, 95, 138);
    color: rgb(247, 244, 240);
}

#creations {
    position: relative;
}

#dropdown {
    display: none;
    position: absolute;
    width: 100%;
    top: 100%;
    background-color: rgb(247, 244, 240);
}

#dropdown li,
#dropdown li a {
    width: 100%;
    text-align: center;
}


///
.container {
    width: 70vw;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    // padding: 4rem 0rem 5rem 0rem;
}

.vh100 {
   height: 100vh; 
}


// ACCUEIL
#banner {
    background: url(/public/lavender_banner.png) no-repeat;
    opacity: 0.8;
    width: 100vw;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;

    h1 {
        color: white;
        text-align: center;
        font-size: 3rem;
    }

    p {
        font-size: 1.5rem;
        color: white;
    }

    #collection {
        position: absolute;
        font-size: 1.5rem;
        background-color: rgb(86, 36, 110);
        color: white;
        padding: 1.5rem;
        border-radius: 50px;      
        bottom : -40px;
    }
}


// SECTION NOUVEAUTES
#news {
    color: rgb(124, 95, 138);

    p {
        padding-top: 1rem;
        font-size: larger;
        font-weight: bold;
    }
}

.product-card {
    width: 250px;
    text-align: center;
    padding: 1rem;
    position: relative;
    margin: 1rem;
    border: 1px solid transparent;
    box-shadow: 0px 5px 5px 1px rgba(124, 95, 138, 0.5);
    background: rgb(248, 247, 246);

    :hover .quick-view {
        opacity: 1;
    }

    :hover .btn-preview {
        opacity: 1;
    }

    h5 {
        color: rgb(124, 95, 138);
        padding: 0.2rem;
        margin: 0;
    }
}

.img-container {
    width: 100%;
    height: 250px;
    // overflow: hidden;
    position: relative;
    margin-bottom: 0.2rem;

    img {
        object-fit: cover;
        object-position: center center;
        width: 100%;
        height: 100%;
    }
}

.quick-view {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 40px;
    background-color: rgba(255, 255, 255, 0.7);
    opacity: 0; 
}

.btn-preview {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 0.5rem;
    background-color: transparent;
    border: none;
    opacity: 0;
    transform: translateX(-50%);
}

.type {
    background-color: rgba(124, 95, 138, 0.8);
    color: rgb(252, 251, 250);
    padding: 0.2rem 1rem;
    font-size: small;
}

.trait {
    background: linear-gradient(to right, white, rgb(124, 95, 138), white);
    height: 1px;  
}

.price {
    font-weight:bolder;
    font-size: 1.2rem;
    color: rgb(86, 36, 110);
}

.btn-add {
    width: 100%;
    background-color: rgb(248, 247, 246);
    color: rgb(136, 173, 139);
    border-color:rgb(136, 173, 139);
    border-style: solid;
    padding: 0.2rem;
}

.btn-no-stock {
    width: 100%;
    background-color: rgb(82, 76, 76);
    color: rgb(255, 255, 255);
    border-color:rgb(136, 173, 139);
    border-style: solid;
    padding: 0.2rem;
}

.discover {
    font-size: 1.3rem;
    background-color: rgba(136, 173, 139, 1);
    color: rgb(252, 251, 250);
    padding: 0.2rem 4rem;
    margin: 1rem;
}

.discover:hover {
    background-color: rgba(136, 173, 139, 0.8);
}


// MODAL
.modal-content {
    border-radius: 0;
    border-width: 2px;
    border-color: rgb(86, 36, 110);
}

.btn-modalAdd {
    width: 100%;
    background-color: rgb(86, 36, 110);
    color: white;
    padding: 0.5rem;
    border: none;

    &:hover {
    opacity: 0.6;
    }
}

.btn-modalNoStock {
    width: 100%;
    background-color: rgb(82, 76, 76);
    color: white;
    padding: 0.5rem;
    border: none;
}

.modal-img {
    width: 50%;
}

.modal-infos {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 50%;
}



// SECTION CREATIONS
#header-categories {
    width: 100vw;
    height: 200px;
    background-color: rgba(136, 173, 139, 1);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    h2 {
        color: white;
    }

    p {
        color: white;
        font-size: larger;
        font-weight: bold;
    }
}

.category-card {
    margin-bottom: 5rem;
    position: relative;
    padding: 1rem;

    img {
        position: absolute;
        top: -130px;
        margin-top: 3.5rem;
        display: flex;
        justify-content: center;
    }

    div:nth-of-type(2) {
        background-color: rgb(241, 238, 234);
        width: 300px;
        height: 275px;
        display: flex;
        flex-direction: column;
        justify-content: end;
        margin-bottom: 1rem;
    }

    h4 {
        text-transform: uppercase;
        margin-top: 1rem;
    }

    .btn-see {
        background-color: rgb(136, 173, 139);
        color: rgb(247, 244, 240);
        border-color:rgb(136, 173, 139);
        padding: 0.2rem;
        text-align: center;

        &:hover {
            background-color: rgba(124, 95, 138, 0.8);
        }
    }
}

.container .category-card:nth-child(2),
.container .category-card:nth-child(5) {
    transform: translateY(50px); /* Ajuste la valeur selon l'effet désiré */
}



// FORMULAIRES
.form-purple {
    border-radius: 0;
    border-color : rgb(86, 36, 110);
}

textarea {
    resize: vertical;
    max-height: 200px;
}


// FOOTER
footer {
    background-color: rgb(241, 238, 234);
}

.line {
    height: 1px;
    background-color: rgb(86, 36, 110);
}



/// PAGE PRODUCT ///
.section-products {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5rem;
}

.products-categories {
    background-color: rgb(247, 244, 240);
    text-align: center;
} 

.products-card {
    width: 200px;
    text-align: center;
    padding: 1.5rem;
    position: relative;
}

.products-img-container {
    width: 100%;
    overflow: hidden;
    position: relative;
    margin-bottom: 1rem;
}

.products-img-container img {
    height: 200px;
    object-fit:contain;
    border: 1px solid black;
}

