@import "~bootstrap/scss/bootstrap";

body {
    background-color: rgba(247, 244, 240, 0.8);
}

a {
    text-decoration: none;
    color: black;
}

ul {
    list-style: none;
    padding: 0;
    margin-bottom: 0;
}

h2 {
    text-align: center;
}

input[type="checkbox"] {
    accent-color: rgb(86, 36, 110);
}

textarea {
    resize: vertical;
    max-height: 250px;
    height:100px;
    overflow-y: hidden;
}

input[type="search"]:focus, 
input[type="text"]:focus, 
input[type="file"]:focus,
input[type="email"]:focus,
input[type="password"]:focus,
input[type="tel"]:focus,
input[type="textarea"]:focus,
select:focus {
    color: rgb(124, 95, 138);
    background-color: rgb(247, 244, 240);
    border-color: rgb(124, 95, 138);
    box-shadow: 0px 0px 10px rgba(124, 95, 138, 0.6) !important; 
}


//// CLASSES GENERALES 
.container {
    width: 80vw;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

.section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 2rem;
    min-height: 50vh;
}

.banner {
    opacity: 0.8;
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: center;
}

.bg-beige {
   background: rgb(241, 238, 234);
}

.light-purple {   
    color: rgb(124, 95, 138);
}

.dark-purple {
    color: rgb(88, 36, 112);
}

.box-shadow {
    padding: 1.5rem;
    border: 1px solid rgba(124, 95, 138, 0.5);
    box-shadow: 0px 5px 5px 1px rgba(166, 131, 184, 0.5);
}


// FOOTER
footer {
    background-color: rgb(241, 238, 234);
}

.line {
    height: 1px;
    background-color: rgb(86, 36, 110);
}


// HEADER
.delivery-banner {
    background-color: rgb(124, 95, 138);
    color: white;
    padding: 1rem;
    text-align: center;    
}

#header {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

input[type="search"] {
    border-color: rgba(124, 95, 138, 0.6);
    border-radius: 0%;
    padding: 0.5rem 1rem;
} 

input[type="search"]::placeholder {
    color:rgb(124, 95, 138);
}

.cart-icon {
    position: relative;
    display: inline-block;
}

.cart-count {
    position: absolute;
    top: 14px;
    right: 60px;
    color: white;
    font-size: 1.2rem;
    font-weight: bold;
}

input[type="search"]:hover {
    background-color: rgb(247, 244, 240);
}

#burger_menu {
    display: none;
}

#nav {
    background-color: rgb(241, 237, 230); 
    cursor: pointer; 

    li {
        display: flex;
        width: 100vw;
        justify-content: space-around;
        padding: 1rem;
        z-index: 1;
    }

    a {
    color: rgb(124, 95, 138);
    }

    #creations div {
        width: 100%;
    }

    #dropdown_toggle {
        display: none;
    }
}

.highlight {
    background-color: rgba(197, 220, 200, 0.4);
}

.selected {
    background-color: rgb(124, 95, 138);
    color: rgb(247, 244, 240);
}

#creations {
    position: relative;
}

#dropdown {
    display: none;
    position: absolute;
    width: 100%;
    top: 100%;
    background-color: rgb(241, 237, 230);
}

#dropdown li,
#dropdown li a {
    width: 100%;
    text-align: center;
}


// FORMULAIRES
.form-purple {
    border-radius: 0;
    border-color : rgb(86, 36, 110);
}

.form-check-input:checked {
        background-color: rgb(86, 36, 110);
        border-color:rgb(86, 36, 110) ;
}   
    


// ACCUEIL
#banner {
    background: url(/public/lavender_banner_scroll.png) no-repeat;
    background-attachment: fixed;
    background-position-y: top;
    opacity: 0.8;
    width: 100%;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-bottom: 2rem;

    h1 {
        color: white;
        text-align: center;
        font-size: 3rem;
    }

    p {
        font-size: 1.5rem;
        color: white;
        margin: 0;
    }

    #collection {
        position: absolute;
        font-size: 1.5rem;
        background-color: rgb(86, 36, 110);
        color: white;
        padding: 0.5rem 1rem;
        border-radius: 50px;      
        bottom : -24px;
    }
}

// ACCUEIL : SECTION NOUVEAUTES
#news {
    color: rgb(124, 95, 138);

    h2 {
        color: rgb(86, 36, 110);
    }

    p {
        padding-top: 1rem;
        font-size: larger;
        font-weight: bold;
        text-align: center;
    }
}

#section-news {
    .product-card {
        width: 280px;
        text-align: center;
        padding: 0.7rem 1rem;
        position: relative;
        margin: 1rem 1.5rem;
        border: 1px solid transparent;
        box-shadow: 0px 5px 5px 1px rgba(124, 95, 138, 0.5);
        background: rgb(248, 247, 246);

        :hover .quick-view {
            opacity: 1;
        }

        :hover .btn-preview {
            opacity: 1;
        }

        h5 {
            color: rgb(124, 95, 138);
            padding: 0.2rem;
            margin: 0;
        }
    }
}
.img-container {
    width: 100%;
    height: 250px;
    // overflow: hidden;
    position: relative;
    margin-bottom: 0.2rem;

    img {
        object-fit: cover;
        object-position: center center;
        width: 100%;
        height: 100%;
    }
}

.quick-view {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 40px;
    background-color: rgba(255, 255, 255, 0.7);
    opacity: 0; 
}

.btn-preview {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 0.5rem;
    background-color: transparent;
    border: none;
    opacity: 0;
    transform: translateX(-50%);
}

.type {
    background-color: rgba(124, 95, 138, 0.8);
    color: rgb(252, 251, 250);
    padding: 0.2rem 1rem;
    font-size: small;
}

.trait {
    background: linear-gradient(to right, white, rgb(124, 95, 138), white);
    height: 1px;  
}

.price {
    font-weight:bolder;
    font-size: 1.2rem;
    color: rgb(86, 36, 110);
}

.btn-add {
    width: 100%;
    background-color: rgb(248, 247, 246);
    color: rgb(127, 167, 130);
    border-color:rgb(136, 173, 139);
    border-style: solid;
    padding: 0.2rem;
}

.btn-no-stock {
    width: 100%;
    background-color: rgb(82, 76, 76);
    color: rgb(255, 255, 255);
    border-color:rgb(136, 173, 139);
    border-style: solid;
    padding: 0.2rem;
}

.discover {
    font-size: 1.3rem;
    background-color: rgba(136, 173, 139, 1);
    color: rgb(252, 251, 250);
    padding: 0.2rem 4rem;
    margin: 1rem 0rem 2rem 0rem;
}

.discover:hover {
    background-color: rgba(136, 173, 139, 0.8);
}


// MODAL
.modal-content {
    border-radius: 0;
    border-width: 2px;
    border-color: rgb(86, 36, 110);
}

.btn-modalAdd {
    width: 100%;
    background-color: rgb(86, 36, 110);
    color: white;
    padding: 0.5rem;
    border: none;

    &:hover, &:focus {
    opacity: 0.6;
    }
}

.btn-modalNoStock {
    width: 100%;
    background-color: rgb(82, 76, 76);
    color: white;
    padding: 0.5rem;
    border: none;
}

.modal-img {
    width: 50%;
}

.modal-infos {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 50%;
}

// ACCUEIL : SECTION CREATIONS
#header-categories {
    width: 100%;
    height: 200px;
    background-color: rgba(136, 173, 139, 0.8);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    h2 {
        color: white;
    }

    span {
        color: white;
        font-size: larger;
        font-weight: bold;
    }
}

.category-card {
    margin-bottom: 5rem;
    position: relative;
    padding: 1rem;
    text-align: center;

    img {
        position: absolute;
        top: -130px;
        margin-top: 3.5rem;
        display: flex;
        justify-content: center;
    }

    div:nth-of-type(2) {
        background-color: rgb(241, 238, 234);
        width: 300px;
        height: 275px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-bottom: 1rem;
        padding: 1.5rem;
    }
    
    h4 {
        text-transform: uppercase;
        margin-top: 4rem;
        margin-bottom: 0;
    }

    P {
        margin: 0;
    }

    .btn-see {
        background-color: rgb(136, 173, 139);
        color: rgb(247, 244, 240);
        border-color:rgb(136, 173, 139);
        padding: 0.2rem;

        &:hover, &:focus {
            background-color: rgba(124, 95, 138, 0.8);
        }
    }
}

.category-card:nth-child(2),
.category-card:nth-child(5) {
    transform: translateY(50px); /* Ajuste la valeur selon l'effet désiré */
}

.category-card:first-child,
.category-card:nth-child(3),
.category-card:nth-child(4),
.category-card:nth-child(6) {
    transform: translateY(20px); /* Ajuste la valeur selon l'effet désiré */
} 


// ACCUEIL : SECTION CONTACT/PERSONNALISATION PROJETS
.border-purple {
    border: 1px solid rgb(86, 36, 110);
    border-top: none;
    margin: 0rem 2rem 2rem 2rem;

    p {
        text-align: center;
    }
}

#header-contact {
    width: 100%;
    height: 200px;
    background-color: rgb(171, 154, 197);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;

    h2, span {
       color: white; 
    }
}

.thread {
    width: 20%;
    opacity: 0.8;
    position: relative;
    top: -30px; 
}

// ACCUEIL : SECTION COMMENTAIRES 
#header-comments {
    width: 100%;
    height: 200px;
    background-color: rgba(136, 173, 139, 0.8);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    h2 {
        color: white;
    }

    span {
        color: white;
        font-size: larger;
        font-weight: bold;
    }
}

.btn-see-more {
    background-color: rgba(124, 95, 138, 1);
    color: white;
    border: none;
    font-size: 1.3rem;
    padding: 0.2rem 4rem;
    margin-bottom: 1rem;

    &:hover, &:focus {
    opacity: 0.8;
    }
}


/// PAGE PRODUCT ///
#banner-products {
    background: url(/public/banner_products_scroll.png) no-repeat;
    background-position-x: center;
    background-attachment: fixed;
    background-position-y:center;
    opacity: 0.8;
    width: 100%;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    h1, p {
        color: white;
    }

    p {
        font-size: large;
        font-weight: bold;
    }
}

.section-products {
    width: 70vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    margin: auto;

    .pagination {
        display: none;

        .page-item:last-child .page-link {
            margin-right: 1rem;
        }
    }
}


.filter {
    width: 70vw;
    height: 50px;
    margin: 0rem 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 0.5rem;

    h3 {
        display: inline-block;
        vertical-align: middle;
    }

    // form {
    //     width: 200px;
    //     margin-right: 1rem;

    //     select {
    //         margin-right: 1rem;
    //     }
    // }

    .selected a {
        color: white;
    }

    .btn-dropdown {
        border: 1px solid rgb(86, 36, 110);
        background-color: rgba(86, 36, 110, 0.836);
        padding: 0.2rem 2rem;
        color: white;

        &:hover, :focus {
            background-color: rgba(86, 36, 110, 0.562);
        }
    }

    #filter-dropdown .dropdown-menu .show {
        width: 100%;
        border-radius: 0%;
 
    }
}


.container-products {
    width: 70vw;
    display: flex;
    // justify-content: center;
}

#products-categories {
    margin: 1rem;

    li {
        padding: 0.5rem;
    }
} 

#loading-message {
    display: none;
    z-index: 2;
}

.products {
    display: flex;
    flex-wrap: wrap;
    
    align-content: flex-start;
    
}

.products-card {
    width: 200px;
    text-align: center;  
    margin: 1rem;
    position: relative;
    // box-shadow: 0px 5px 5px 1px rgba(124, 95, 138, 0.5);
    // background: rgb(255, 255, 255);
    
    h5 {
        color: rgb(124, 95, 138);
        padding: 0.2rem;
    }
}

.products-img-container {
    width: 100%;
    height: 200px;
    position: relative;
    margin-bottom: 0.3rem;

    img {
        object-fit: cover;
        object-position: center center;
        width: 100%;
        height: 100%;
    }
}






//// PAGE CONTACT
#banner-contact {
    background: url(/public/banner_thread_scroll.png) no-repeat;
    background-position-x: center;
    background-attachment: fixed;
    background-position-y:center;
    opacity: 0.8;
    width: 100vw;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    h1, p {
        color: white;
    }

    p {
        font-size: large;
        font-weight: bold;
    }
}


//// PAGE LIVRE D'OR
#banner-comments {
    background: url(/public/banner_comments_scroll.png) no-repeat;
    background-position-y: top;
    background-attachment: fixed;
    // background-position-x: center;
    opacity: 0.7;
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;

    h1 {
        color: white;
    }
}

.comment-card {
    border-radius: 45px 0px;
    background: rgba(197, 220, 200, 0.6);
    color: black;
    width: 400px;
    height: 175px;
    padding: 1rem;
    overflow-y: auto;
    scrollbar-width: none;
}

.comment-head {
    display: flex;
    width: 100%;
}

.write-comment {
    padding: 1rem;
    border: 1px solid rgb(86, 36, 110);
    background: white;
}

.pagination {
    nav {
        margin: 2rem 0rem 1rem 0rem;       
        background-color: transparent;

        span {
            margin: 0 10px;
        }

        .active span {
            background: rgb(178, 204, 181);
            border: 1px solid rgb(178, 204, 181);
        }
    }
        
    a {
        border: 1px solid rgba(197, 220, 200, 1);
        color: black;
        float: left;
        margin: 0 10px;
        text-decoration: none;
        transition: background-color 3s;    
    }
}

/// PAGES PROFIL
.btn-delete {
    background-color: rgb(52, 53, 52);
    color: rgb(252, 251, 250);
    padding: 0.2rem 2rem;
    margin: 1rem 0rem;

    &:hover, &:focus {
        opacity: 0.5;
    }
}


// PAGE PANIER
.btn-remove {
    background: none;
    border: none;
    color: black;
    padding: 0;

    &:hover {
        text-decoration: underline;
    } 
}

table {
    width: 100%;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid rgb(171, 154, 197);
}

th, td {
    text-align: center;
    padding: 8px;
}

th {
    background-color: rgba(171, 154, 197, 0.2);
    color: rgb(88, 36, 112);
}

.cart-total {
    margin-top: 20px;
    text-align: right;
    font-size: 20px;
}



/// MEDIA QUERIES
@media screen and (max-width: 768px) {
    #header {
        width: 100vw;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #burger_menu {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 5vh;
        width: 5vh;
        border: 1px solid rgba(255, 255, 255, 0.6);
        border-radius: 10%;
        cursor: pointer;     

        div {
            height: 6%;
            width: 60%;
            background-color:rgba(255, 255, 255, 0.6);
            margin: 7% 0;
        }
    }

    #nav {
        display: none;

        ul {
            flex-direction: column;
        }

        #creations {
            display: flex;
            flex-direction: column;
            align-items: center;

            a {
                display: inline;
            }
        }

        // Masquer le sous-menu par défaut sur les petits écrans
        #dropdown {
            display: none;
            position: relative;
            font-size: small;

            li {
                padding: 0.25rem;
            }
        }

        .dropdown-toggle::after {
            font-size: x-large;
            vertical-align: 0em;
            margin-left: 0.5em;
        }

        #creations.open #dropdown {
            display: block;
        }

        
    }


    /// GENERALITES
    .section {
        margin: 1.5rem 0rem;
    }

    .container {
        width: 100%;
        padding: 0;
        // margin: 0rem 0.5rem;
    }

    /// PAGE ACCUEIL
    #news {
        color: rgb(124, 95, 138);
        
        h2 {
            font-size: xx-large;
            font-weight: bolder;
            padding: 0;
        }

        p {
            padding: 0rem 0.75rem;
        }
    }

    #section-news {
        .product-card {
            width: 45%;
            // background: none;
            padding: 0.5rem;
            margin: 1rem 0.5rem;
            border: none;
            // box-shadow: none;
        
            .img-container {
                height: 200px;
            }

            .quick-view, .btn-preview {
                display: none;
            }     
        }
    }
    .discover {
        margin: 0rem 0rem 1.5rem 0rem;
    }

    #header-categories {
        height: 150px;

        span {
            font-weight: initial;
        }
    }

   .category-card {
    width: 45%;
    transform: none !important;
    padding: 0;
    margin: 1rem 0.5rem;

        img {
            width: 80%;
            top: -90px;
        }

        div:nth-of-type(2) {
            width: 100%;
            height: 210px;
            margin-top: 1rem;
            padding: 0.75rem;
        }

        h4 {
            margin-top: 3rem;
        }

        p {
            font-size: small;
            margin-bottom: 0.5rem;
        }

        .btn-see {
            width: 100%;
        }
    }

    #header-contact {
        height: 150px;
    }

    .thread {
        width: 60%;
    }

    #header-comments {
        height: 150px;
    }

    #banner {
        background-size:cover;
        background-attachment: scroll;
        background-position: bottom;
        height: 200px;

        h1 {
            font-size: 2rem;
        }
    
        p {
            font-size: 1.25rem;
        }
    
        #collection {
            font-size: 1rem;
            bottom : -18px;
        }   
    }

    .section-products {
        width: 100vw;

        #products-categories {
            // display: none;
            display: flex;
        }

        .container-products {
            width: 100vw;
            // justify-content: center;
            flex-direction: column;
        }

        .filter {
            width: 100%;
            margin: 0;
            justify-content: center;
            padding: 0;

            // form {
            // display: none;
            // }
        }
             
        .products {
            justify-content: start;  
        }
        
        .products-card {
            width: 45%;
            margin: 1rem 0.5rem;
         
            h5 {
                padding: 0.2rem;
            }
        }
        
        .products-img-container {
            width: 100%;
            height: 200px;
            position: relative;
            margin-bottom: 0.3rem;
        }
    }
    

}

