<footer class="px-0 justify-content-center pt-5">

    <div class=" col-md-12 d-flex px-5">

        <div class='col-sm-6 col-md-3'>
            <ul>
                <li class='fw-bold'>Eshop</li>
                <li class='mt-4'>
                    <a aria-label="Qui sommes-nous? - Formation WS" href="">
                        Qui sommes-nous?
                    </a>
                </li>
                <li class='mt-4'>
                    <a href="{{ path('app_product_index') }}">
                        Nos produits
                    </a>
                </li>
                <li class='mt-4'>
                    <a aria-label="Contactez-nous" href="{{ path('app_contact') }}">
                        Contact
                    </a>
                </li>
            </ul>
        </div>

      

        <div class='col-sm-6 col-md-3'>
            <ul>
                <li class='fw-bold'>DIVERS</li>

                <li class='mt-4'>
                    <a aria-label="Politique de cookies - Formation WS" href="">
                        Cookies
                    </a>
                </li>


                <li class='mt-4'>
                    <a aria-label="Mentions légales - Formation WS" href="">
                        Mentions légales
                    </a>
                </li>

                  <li class='mt-4'>
                    <a aria-label="Conditions générales de vente - Atelier de Marais" href="{{ path('app_conditions') }}">
                        Conditions générales de vente
                    </a>
                </li>
            </ul>
        </div>
        
        
        {% if is_granted('ROLE_ADMIN') %}
            <div class='col-sm-6 col-md-3'>
                <ul>
                    <li class='fw-bold'>Administration</li>
                    <li class='mt-4'>
                        <a aria-label="" href="{{path('admin')}}">
                            BackOffice
                        </a>
                    </li>
                </ul>
            </div>
        {% endif %}

    </div>

    <div class="trait"> </div> 
        
    <p class="d-flex justify-content-center"> © 2024 L'Atelier De Marais</p>
 
</footer>