<header>

    {# bandeau de livraison ou promo #}
    <div class="delivery-banner"> 
        <b>Livraison France DOM TOM et UE</b> - 2 à 6 jours ouvrés (hors commande personnalisée)
    </div>

    {# logo + barre de recherche + panier #}
    <div class="d-flex"> 
        <img>
 
        <form class="d-flex" action="{{path('app_search_products')}}">
            <input class="form-control me-2" type="search" name="search" placeholder="Rechercher" aria-label="Search">
        </form>

        <svg xmlns="http://www.w3.org/2000/svg" height="40" viewBox="0 0 448 512"><!--!Font Awesome Free 6.5.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path fill="#7c5f8a" d="M160 112c0-35.3 28.7-64 64-64s64 28.7 64 64v48H160V112zm-48 48H48c-26.5 0-48 21.5-48 48V416c0 53 43 96 96 96H352c53 0 96-43 96-96V208c0-26.5-21.5-48-48-48H336V112C336 50.1 285.9 0 224 0S112 50.1 112 112v48zm24 48a24 24 0 1 1 0 48 24 24 0 1 1 0-48zm152 24a24 24 0 1 1 48 0 24 24 0 1 1 -48 0z"/></svg>   
    </div>


    {# accueil, créations, contact/commande perso, livre d'or, à propos #}
    {% include "nav.html.twig" %}

</header>