{% extends 'base.html.twig' %}

{% block meta_description %} {% endblock %}

{% block title %}Erreur de paiement {{parent()}}
{% endblock %}

{% block body %}
	<p>Erreur de paiement. Veuillez réessayer ou nous contacter par mail.</p>
{% endblock %}